<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <properties>
        <property name="BASIC">%d{yyyy-MM-dd HH:mm:ss.SSS} [t:%t] [C:%C{1.}] [L:%L] [M:%M] </property>
        <property name="MSG">%-5level %msg </property>
        <property name="MDC">|arg0:%X{arg0}| |arg1:%X{arg1}| |arg2:%X{arg2}| |arg3:%X{arg3}| |arg4:%X{arg4}| |result:%X{result}| |cost:%X{cost}|</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${BASIC}%n${MSG}%n${MDC}%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="/mnt/logs/octopus.log" filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>${BASIC}%n${MSG}%n${MDC}%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>