<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="com.htsc.morphling.log4j2">

    <Properties>
        <Property name="header">head\t: %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} [%t] %X{traceId} [success:%X{success}] [cost:%X{cost}]</Property>
        <Property name="milky">milky\t: [class:%X{milky_class}] [method:%X{milky_method}] [line:%X{milky_line}]</Property>
        <Property name="result">result\t: %X{result}</Property>
        <Property name="args0">arg0\t: %X{arg0}</Property>
        <Property name="args1">arg1\t: %X{arg1}</Property>
        <Property name="args2">arg2\t: %X{arg2}</Property>
        <Property name="args3">arg3\t: %X{arg3}</Property>
        <Property name="args4">arg4\t: %X{arg4}</Property>
        <Property name="line">===============================================</Property>
        <Property name="LOG_PATH">logs</Property>

    </Properties>


    <Appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="\n${line}\nmessage\t: %m\n${header}\n${milky}\n${args0}\n${args1}\n${args2}\n${args3}\n${args4}\n${result}\n${line}\n"/>
        </console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>